.section-3 .section-3-container .product-detail-cards .product-detail-card {
    display: inline-block;
    width: 200px !important;
    height: 300px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    position: relative;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card .product-detail-img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card img {
    /* width: 100%; */
    height: auto;
    max-width: 160px;
    max-height: 140px;
    position:absolute; 
    bottom: 80px;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card a {
    text-decoration: none;
    color: #007185;
    font-size: 14px; ;
    position:absolute; 
    bottom: 50px;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card a:hover {
    color: #c45500;
}

.section-3 .section-3-container .product-detail-cards .product-detail-card .product-price {
    position:absolute; 
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}