 /* VARIABLES */
:root {
  --major-bg-color: #131921;
  --minor-bg-color: #ebeded;
  --amazon-major-color: #febd68;
}
body {
  background-color: var(--minor-bg-color)
}
 /* SECTION 1  */
.section-1 {
    width: 100%;
    height: auto;
    background: url('../../assets/topBackground.jpg');
    background-size: cover;
    display: flex;
}
.section-1 .section-1-container {
    margin-top: 300px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

}
.section-1 .section-1-container .section-1-column {
    width: 100%;
    /* height: 370px; */
    background-color: white;
    padding: 20px;
}

.section-1 .section-1-container .section-1-column img {
    margin-top: 20px;
    width: auto;
    height: 240px;
    max-height: 240px;
}
.section-1 .section-1-container .section-1-column p {
    margin-top: 10px;
    font-size: 14px;
    color: #007185;
}
.section-1 .section-1-container .section-1-column button {
    margin-top: 10px;
    width: 100%;
    border: none;
    background-color: var(--amazon-major-color);
    padding: 8px;
    border-radius: 10px;
}

.section-3 {
  background-color: white;
}
.section-3 .section-3-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  
}
.section-3 .section-3-container .product-detail-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.cursor-pointer{
  cursor:pointer
}