img.medium {
  max-height: 100px;
  width: 75%;
  object-fit: contain;
  position: absolute; 
  bottom: 200px;
  left: 30px;
}

.productItem-card {
  border: 0.1rem #c0c0c0 solid;
  background-color: white;
  margin: 1rem;
  border-radius: 0.5rem;
  width: 200px;
  height: 300px;
  padding: 20px 26px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}

/* .productItem-card-body {
  padding: 1rem;

} */
.productItem-card-body > * {
  margin-bottom: 0.5rem;
}
.productItem-card button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  width: 200px;
  height: 30px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  position: absolute; 
  bottom: 30px;
  left: 25px;
}


.productItem-card .a-product-Name {
  margin-bottom: 0.5rem;
  color: black;
  font-size: 9px;
  position: absolute; 
  bottom: 120px;
  left: 25px;
}

.listItem-star-container{
  position: absolute;
  border-radius: 5px;
  display: flex;
  bottom: 95px;
}

.listItem-star-container .listItem-star-widget input{
  display: none;
}
.listItem-star-widget label{
  font-size: 15px;
  color: #444;
  float: right;
  transition: all 0.2s ease;
}

.price {
  position: absolute; 
  bottom: 65px;
  left: 25px;
}

.list-message{
  color: green;
  position: absolute; 
  bottom: 5px;
}
