.signup-base{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}
#signup-logo{
  width: auto;
  height: 60px;
  margin-bottom: 20px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
.submitBtn{
    background-color: yellow;
    border: 0;
    border-radius: 0.4em;
    width: 150px;
    cursor:pointer
}
.errorUl{
    list-style: none;
    color: red;
}